:root {
    --black: #000000;
    --white: #ffffff;
    --green: #abf62d;
    --blue: #00dcff;
    --pink: #ff69bb;
}

body {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.writers--home-footer {
    background-color: var(--pink);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.writers--home-menu {
    background-color: var(--green);
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
}